.button {
    button {
        --button-border-color: #dde1e3;
        --text-color: #333;
        --shadow-color: rgba(51, 51, 51, 0.3);
        --background-color: #efefef;
        outline: none;
        border: 1px solid var(--input-border-color);
        border-radius: 10px;
        padding: 12px 15px;
        font-size: 16px;
        color: var(--text-color);
        transition: all .2s;
        cursor: pointer;
        background: var(--background-color);

        &:focus {
            box-shadow: 0 0 0 3px var(--shadow-color);
        }

        &:hover {
            opacity: .8;
        }

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }
    }

    .delete {
        --text-color: #fff;
        background: #dc3545;
        color: var(--text-color);
    }
}

/* Dark Mode */

:global(body.dark) {
    .button {
        button {
            --button-border-color: #dde1e3;
            --text-color: #eee;
            --shadow-color: rgba(119, 119, 119, 0.3);
            --background-color: rgba(51, 51, 51, 0.89);
        }
    }
}

@media (max-width: 544px) {
    .button {
        button {
            font-size: .9rem;
        }
    }
}